<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
<app-user-layout></app-user-layout>
<div class="myContent">
    <div class="jumbotron" style="text-align:center;margin-top:70px">
        <h5>Contact +91-7288040547 on <i style="color:green" class="fa fa-whatsapp" aria-hidden="true"></i> WhatsApp for any order related queries.</h5>
        <img class="img-responsive" [src]=img style="height:400px;width:950px;display:block;margin:0px auto;" />
    </div>
</div>