<div *ngIf="commonLayout">
    <app-common-layout></app-common-layout>
</div>
<div *ngIf="userLayout">
    <app-user-layout></app-user-layout>
</div>

<div class="myContent">
    <div class="jumbotron" style="text-align:center;margin-top:70px">
        <h2>OnlineBook Store for you!!</h2>
        <p>
            Welcome to the magical world of books!! So many books and so little time!! Enjoy buying and reading.
        </p>
        <img class="img-responsive" [src]=img style="height:400px;width:950px;display:block;margin:0px auto;" />
    </div>
</div>