<div class="topnav">
    <img src="assets/BookLogo.jpg" alt="Book Logo" width="53.5" height="100%">
    <a class="active" href="#" routerLink="/home">OnlineBookApp</a>
    <a href="#" routerLink="/viewBooks">Books</a>
    <a href="#" routerLink="/viewWishlist">Wishlist</a>
    <a href="#" routerLink="/viewCart">Cart</a>
    <a href="#" routerLink="/viewOrders">Orders</a>
    <a href="#" routerLink="/viewReviews">Reviews</a>
    <a href="#" routerLink="/customerCare">Customer Care</a>
    <div class="topnav-right">
        <a href="#" (click)="logOut()">Logout</a>
    </div>
</div>